@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; */
}

:root {
  --color-white-100: hsl(206, 5%, 100%);
  --color-white-200: hsl(206, 5%, 90%);
  --color-white-300: hsl(206, 5%, 80%);
  --color-white-400: hsl(206, 5%, 65%);
  --color-white-500: hsl(206, 5%, 50%);
  --color-black-100: hsl(213, 20%, 10%);
  --color-black-200: hsl(213, 23%, 8%);
  --color-black-300: hsl(214, 21%, 6%);
  --color-black-400: hsl(210, 21%, 6%);
  --color-black-500: hsl(216, 22%, 4%);
  --color-black-600: hsl(220, 18%, 3%);
  --color-black-700: hsl(220, 27%, 2%);
  --color-black-800: hsl(180, 20%, 1%);
  --color-blue-100: hsl(214, 95%, 93%);
  --color-blue-200: hsl(213, 97%, 87%);
  --color-blue-300: hsl(212, 96%, 78%);
  --color-blue-400: hsl(213, 94%, 68%);
  --color-blue-500: hsl(217, 91%, 60%);
  --color-blue-600: hsl(221, 83%, 53%);
  --color-blue-700: hsl(224, 76%, 48%);
  --color-blue-800: hsl(226, 71%, 40%);
  --color-blue-900: hsl(224, 64%, 33%);
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
     0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
     0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
     0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

html {
  /* box-sizing: border-box; */
  font-family: "Roboto", sans-serif;
  /* font-size: 62.5%; */
}
@media only screen and (max-width: 800px) {
  html {
    font-size: 57%;
  }
}

body {
  /* transform: scale(translateX(5)); */
}
@media only screen and (max-width: 1000px) {
  body {
    padding: 0;
  }
}

.containers {
  position: relative;
  overflow: hidden;
  /* border-radius: 2rem; */
  background-color: #000;
  color: #fff;
  /* padding: 1.5rem; */
}
@media only screen and (max-width: 1000px) {
  .containers {
    border-radius: 0;
  }
}

.sliders {
  display: flex;
  width: 500%;
  height: 42rem;
  transition: all 0.25s ease-in;
  transform: translateX(0);
}
@media only screen and (max-width: 1000px) {
  .sliders {
    height: 100vh;
  }
}
.sliders .box {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 650px) {
  .sliders .box {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
.sliders .box .bg {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  width: 55%;
  transform: skewX(7deg);
  position: absolute;
  height: 100%;
  left: -10%;
  padding-left: 20rem;
  transform-origin: 0 100%;
}
@media only screen and (max-width: 800px) {
  .sliders .box .bg {
    width: 65%;
  }
}
@media only screen and (max-width: 650px) {
  .sliders .box .bg {
    width: 100%;
    left: 0;
    bottom: 0;
    height: 54%;
    transform: skewX(0deg);
  }
}
.sliders .box .bg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: inherit;
  pointer-events: none;
  transform: skewX(10deg);
}
@media only screen and (max-width: 650px) {
  .sliders .box .bg::before {
    width: 120%;
    bottom: 0;
    transform: skewX(0deg);
  }
}
.sliders .box .details {
  padding: 5rem;
  padding-left: 10rem;
  z-index: 100;
  grid-column: 1 / span 1;
  grid-row: 1/-1;
}
@media only screen and (max-width: 650px) {
  .sliders .box .details {
    grid-row: 2 / span 1;
    grid-column: 1/-1;
    text-align: center;
    padding: 2rem;
    transform: translateY(-9rem);
  }
}
.sliders .box .details h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.sliders .box .details p {
  display: inline-block;
  font-size: 1.3rem;
  color: #b5b4b4;
  margin-bottom: 2rem;
  margin-right: 5rem;
}
@media only screen and (max-width: 800px) {
  .sliders .box .details p {
    margin-right: 0;
  }
}
.sliders .box .details button {
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sliders .box .details button:hover {
  opacity: 0.8;
}
.sliders .box .details button:focus {
  outline: none;
  border: none;
}
.sliders .box1 {
  background-color: #500033;
}
.sliders .box1 .illustration .inner {
  background-color: #ff0077;
}
/* .sliders .box1 .illustration .inner::after,
.sliders .box1 .illustration .inner::before {
  background-color: rgba(255, 0, 119, 0.4);
} */
.sliders .box1 button {
  background-color: #ff0077;
}
.sliders .box2 {
  background-color: #000050;
}
.sliders .box2 .illustration .inner {
  background-color: #0033ff;
}
/* .sliders .box2 .illustration .inner::after,
.sliders .box2 .illustration .inner::before {
  background-color: rgba(0, 51, 255, 0.4);
} */
.sliders .box2 button {
  background-color: #0033ff;
}
.sliders .box3 {
  background-color: #00501d;
}
.sliders .box3 .illustration .inner {
  background-color: #00ff44;
}
/* .sliders .box3 .illustration .inner::after,
.sliders .box3 .illustration .inner::before {
  background-color: rgba(0, 255, 68, 0.4);
} */
.sliders .box3 button {
  background-color: #00ff44;
}
.sliders .box4 {
  background-color: #554d00;
}
.sliders .box4 .illustration .inner {
  background-color: #ff4e00;
}
/* .sliders .box4 .illustration .inner::after,
.sliders .box4 .illustration .inner::before {
  background-color: rgba(255, 78, 0, 0.4);
} */
.sliders .box4 button {
  background-color: #ff4e00;
}
.sliders .box5 {
  background-color: #300050;
}
/* .sliders .box5 .illustration .inner {
  background-color: #8000ff;
} */
/* .sliders .box5 .illustration .inner::after,
.sliders .box5 .illustration .inner::before {
  background-color: rgba(128, 0, 255, 0.4);
} */
.sliders .box5 button {
  background-color: #8000ff;
}
.sliders .illustration {
  grid-column: 2/-1;
  grid-row: 1/-1;
  justify-self: center;
}
@media only screen and (max-width: 650px) {
  .sliders .illustration {
    grid-row: 1 / span 1;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* this is it */
.inner1 {
  height: 30em;
  width: 22.5rem;
  border-radius: 3rem;
  background-image: url(./Images/phone.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  overflow: hidden;
  transform: skewX(-10deg);
}

.inner2 {
  height: 22.5rem;
  width: 30rem;
  border-radius: 3rem;
  margin-top: 15px;
  background-image: url(./Images/laptop.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
  transform: skewX(-10deg);
}

.inner3 {
  height: 30rem;
  width: 22.5rem;
  max-width: 20rem;
  border-radius: 3rem;
  background-image: url(./Images/tablet.png);
  background-size: cover;
  padding-left: 10px;
  padding-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  /* position: relative; */
  /* overflow: hidden; */
  transform: skewX(-10deg);
  object-fit: fill;
}

.inner4 {
  height: 25rem;
  width: 24rem;
  border-radius: 3rem;
  background-image: url(./Images/music.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
  transform: skewX(-10deg);
}

.inner5 {
  height: 48rem;
  width: 42rem;
  /* max-width: 20px; */
  border-radius: 3rem;
  background-image: url(./Images/progress.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
  /* transform: skewX(-10deg); */
  transform: scale(0.4);
}
@media only screen and (max-width: 800px) {
  .sliders .illustration div {
    height: 20rem;
    width: 15rem;
  }
}
.sliders .illustration div::after,
.sliders .illustration div::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  top: 0;
  left: 0;
}
.sliders .illustration div::after {
  transform: translate(4rem, -1rem);
}
.sliders .illustration div::before {
  transform: translate(2rem, -2rem);
}

.prev,
.next,
.trail {
  z-index: 10000;
  position: absolute;
}

.prev,
.next {
  width: 4rem;
  cursor: pointer;
  opacity: 0.2;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 650px) {
  .prev,
  .next {
    display: none;
  }
}
.prev:hover,
.next:hover {
  opacity: 1;
}

.prev {
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.next {
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

.trail {
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 40px;
}
@media only screen and (max-width: 650px) {
  .trail {
    width: 90%;
    bottom: 13%;
  }
}
.trail div {
  padding: 2rem;
  border-top: 3px solid #fff;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.3s ease;
}
.trail div:hover {
  opacity: 0.6;
}
@media only screen and (max-width: 650px) {
  .trail div {
    padding: 1rem;
  }
}

.active {
  opacity: 1 !important;
}

.hero h2 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: #000;
  color: #fff;
  /* font-size: 5rem; */
  /* letter-spacing: 2px;
  font-weight: 700; */
  position: relative;
  overflow: hidden;  
  
  font-size: clamp(2.648rem, 6vw, 4.241rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
  font-size: 8rem;
}

.main_text{
  font-family: "Rubik", sans-serif;
  font-size: clamp(1rem, 2vw, 1.125rem);
  text-wrap: balance;
  color: var(--color-white-200);
  /* font-size: 1.2rem; */
}

.containers{
  background-color: #000;
}